body
{
background-color:white;
font-family:"Verdana";
}

#header
{
color:orange;
text-align:left;
padding-top:2%;
padding-bottom:1%;
font-size:50px;
}

#title
{
background-color:black;
padding:2%;
}

#countdown
{
float:left;
margin-left:30%;
text-align:center;
background-color: black;
height: 150px;
-moz-border-radius:75px;
-webkit-border-radius: 75px;
width: 150px;
padding-top:1%;
}

#countnum
{
  padding-top:40%;  
  font-size:100px;
  color:orange;
}

#countdownsec
{
margin-right:30%;
float:right;
text-align:center;
background-color: black;
height: 150px;
-moz-border-radius:75px;
-webkit-border-radius: 75px;
width: 150px;
padding-top:1%;
}

#countnumsec
{
  padding-top:40%;  
  font-size:100px;
  color:orange;
}


#nowplaying
{
color:black;
text-align:center;
font-size:30px;
padding:2%;
margin:2%;
}

#split
{
  background-color:black;
  padding:2%;
  margin-top:1%;
  margin-bottom:1%;
}

#content
{
padding:2%;

}

#bandlist
{
font-family:"Tahoma";
font-size:20px;
text-align:left;
}

li
{
margin:1%;
}

.wipe
{
  clear:both;
}

